<div class="change-pass-section">
    <div class="container">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form action="javascript:;" #form="ngForm" (ngSubmit)="onPressChange(form)">
                    <div class="card">
                        <div class="card-header d-flex">
                            <i class="fa fa-user"></i>
                            <h4>Change Password</h4>
                        </div>
                        <div class="card-content">
                         

                            <div class="form-group ">
                                <label for="">New Password</label>
                                <input type="password" class="form-control" name="password" minlength="6"
                                    [(ngModel)]="user.password" #password="ngModel" required>

                                <div *ngIf="form.submitted" class="validation-error">
                                    <div *ngIf="password?.errors?.required">
                                        Password is Required

                                    </div>
                                    <div *ngIf="password?.errors?.minlength">
                                        Password Must Be At least 6 Character
                                    </div>

                                </div>


                            </div>

                            <div class="form-group ">
                                <label for="">Confirm Password</label>
                                <input type="password" class="form-control" name="confirmPassword" minlength="6"
                                    [(ngModel)]="user.confirmPassword" #confirmPassword="ngModel" required>

                                <div *ngIf="form.submitted" class="validation-error">
                                    <div *ngIf="confirmPassword?.errors?.required">
                                        confirm Password is Required

                                    </div>
                                    <div *ngIf="confirmPassword?.errors?.minlength">
                                        confirm Password Must Be At least 6 Character
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-around">
                            <button type="submit" class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </form>
                <div *ngIf="submitSuccess" class="alert alert-primary" role="alert">
                    {{messageResponse}}
                </div>

                <div *ngIf="submitError" class="alert alert-danger" role="alert">
                    {{messageResponse}}
                </div>
            </div>
        </div>
    </div>
</div>